  
            .box{
                width: 80%;
                border: 2px solid grey;
                margin: 0 auto;
                margin-top: 15px;
                padding: 15px;
                background-color: #ddd;
            }
           
            table{
                margin: 0 auto;
                width: 80%;
                box-sizing: border-box;
            }
            td{    
                line-height: 1.5em;
                padding: 15px;
                border: 1px solid black;
                background-color: #aaa;
            }
            .changeBtn{
                line-height: 2em;

            }
            .rowBtn{
                text-align: center;
            }
            /* dialog{
                display: none;
            } */